body {
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    max-height: 65%;
    max-width: 65%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.div {
    max-height: 65%;
    max-width: 65%;
}

h2 {
    font-style: normal;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    font-size: 25px !important;
    max-width: 700px;
}